---
- name: Check if Homebrew is installed
  ansible.builtin.stat:
    path: /opt/homebrew/bin/brew
  register: homebrew_check

- name: Install Homebrew
  when: not homebrew_check.stat.exists
  ansible.builtin.shell: |
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  args:
    creates: /opt/homebrew/bin/brew

- name: Update Homebrew
  community.general.homebrew:
    update_homebrew: yes
  when: brew_update

- name: Upgrade all Homebrew packages
  community.general.homebrew:
    upgrade_all: yes
  when: brew_upgrade_all

- name: Install Homebrew packages
  community.general.homebrew:
    name: "{{ brew_packages }}"
    state: present
  when: brew_packages | length > 0

- name: Install Homebrew casks
  community.general.homebrew_cask:
    name: "{{ brew_casks }}"
    state: present
  when: brew_casks | length > 0
